{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% blocktrans %}Foydalanuvchi paroli o'zgardi{% endblocktrans %} {% endblock title %}
{% block content %}
    <h1>{% blocktrans %}Foydalanuvchi paroli o'zgardi{% endblocktrans %}</h1>
    <p>{{ request.user.username }}, {% blocktrans %}Sizning parolingiz muvaffaqiyatli o'zgartirildi{% endblocktrans %}</p> <br>
    <p> <a href="{% url 'login' %}">{% blocktrans %}Asosiy sahifaga qaytish{% endblocktrans %}</a> </p>
{% endblock content %}
