{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {% blocktrans %}Foydalanuvchi parolini tiklash{% endblocktrans %} {% endblock title %}
{% block content %}
    <h1>{% blocktrans %}Parolni tiklash{% endblocktrans %}</h1>
    <p>{% blocktrans %}Parolni o'zgartirish uchun quyidagi formani to'ldiring{% endblocktrans %}</p>
    {% if validlink %}
        <p>{% blocktrans %}Iltimos yangi parolni ikki marotaba kiriting{% endblocktrans %} </p>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <p> <button type="submit" class="btn btn-danger">
                {% blocktrans %}Parolni almashtirish{% endblocktrans %}
            </button> </p>
        </form>
    {% else %}
        <p>{% blocktrans %}Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalanilgan bo'lishi va ishlatilish vaqti o'tib ketgan bo'lishi mumkin{% endblocktrans %}</p>
    {% endif %}
{% endblock content %}