{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% blocktrans %}Foydalanuvchi paroli tiklanmoqda{% endblocktrans %} {% endblock title %}
{% block content %}
    <h1>{% blocktrans %}Parolingiz o'zgartirildi{% endblocktrans %}</h1>
    <p>{% blocktrans %}Sizning parolingiz qayta tiklandi. Endi qayta{% endblocktrans %}
        <a href="{% url 'login' %}">{% blocktrans %}login{% endblocktrans %}</a> {% blocktrans %}qilishingiz mumkin{% endblocktrans %} </p>
{% endblock content %}
