{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% blocktrans %}Emailga xabar yuborildi{% endblocktrans %} {% endblock title %}
{% block content %}
    <h1>{% blocktrans %}Parolni o'zgartirish emaili yuborildi{% endblocktrans %}</h1>
    <p>{% blocktrans %}Parolni o'zgartirish uchun sizning emailingizga parolni tiklash uchun link yuborildi{% endblocktrans %}</p>
    <p>{% blocktrans %}Agar siz email qabul qilmagan bo'lsangiz, qaytadan urinib ko'ring{% endblocktrans %}</p>
{% endblock content %}
