{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {% blocktrans %}Parolni o'zgartirish sahifasi{% endblocktrans %} {% endblock title %}
{% block content %}
    <h1>{% blocktrans %}Parolni o'zgartirish{% endblocktrans %}</h1>
    <p>{% blocktrans %}Parolni o'zgartirish uchun, quyidagi formani to'ldiring{% endblocktrans %}</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <p> <button class="btn btn-success" type="submit">
                        {% blocktrans %}Parolni o'zgartirish{% endblocktrans %}
                    </button> </p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}